body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000016;
    margin: 0;
    min-height: 100vh;
}

header {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    color: rgb(47, 99, 240);
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

h1 {
    margin: 0;
    font-size: 40px;
}

#gameboard {
    width: 480px;
    height: 480px;
    background-color: #000;
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6);
    border: 2px solid #333;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    position: relative;
    background-color: transparent; 
}

.square svg {
    height: 50px;
    width: 50px;
    position: absolute; 
    z-index: 1;
}

path {
    position: relative;
    z-index: 0;
}

.piece {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center piece */
    cursor: grab;
    height: 50px;
    width: 50px;
}

.piece:active {
    cursor: grabbing;
}

.beige {
    background-color: #d8cfc4;
}

.brown {
    background-color: #8b4c39;
}

.black {
    fill: #1c1c1c;
}

.white {
    fill: #fefefe;
}
